In [1]:
import pandas as pd
import numpy as np

In [2]:
#file path
csv_path = "data/nycppprecipients_split.csv"

In [3]:
#import csv to df
ppp_df = pd.read_csv(csv_path, encoding="ISO-8859-1")
ppp_df.head()

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,Description,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsRetained,DateApproved,Lender,CD,NA,ICSCode
0,a $5-10 million,1186 BROADWAY RESTAURANT LLC,30 W 26th Street Floor 12,NEW YORK,NY,10010,721110,Hotels (except Casino Hotels) and Motels,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,417.0,4/15/20 0:00,BMO Harris Bank National Association,NY - 12,72,1110
1,a $5-10 million,"246 SPRING STREET (NY), LLC",246 SPRING ST,NEW YORK,NY,10013,721110,Hotels (except Casino Hotels) and Motels,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,328.0,4/28/20 0:00,City National Bank,NY - 07,72,1110
2,a $5-10 million,ABRAHAM JOSHUA HESCHEL SCHOOL,20 West End Ave,NEW YORK,NY,10023,611110,Elementary and Secondary Schools,Non-Profit Organization,Unanswered,Unanswered,Unanswered,Y,365.0,5/3/20 0:00,"Bank of America, National Association",NY - 10,61,1110
3,a $5-10 million,"ACCESS STAFFING, LLC",360 Lexington Ave 8th Floor,NEW YORK,NY,10017,561311,Employment Placement Agencies,Limited Liability Company(LLC),Unanswered,Male Owned,Non-Veteran,NaN,500.0,4/11/20 0:00,"Newtek Small Business Finance, Inc.",NY - 12,56,1311
4,a $5-10 million,"ACCUITY DELIVERY SYSTEMS, LLC",810 7TH AVE Suite 1110,NEW YORK,NY,10019,541511,Custom Computer Programming Services,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,293.0,4/8/20 0:00,CIBC Bank USA,NY - 10,54,1511

In [4]:
conditions = [
    (ppp_df['NA'] == 11),
    (ppp_df['NA'] == 21),
    (ppp_df['NA'] == 22),
    (ppp_df['NA'] == 23),
    (ppp_df['NA'] == 31),
    (ppp_df['NA'] == 32),
    (ppp_df['NA'] == 33),
    (ppp_df['NA'] == 42),
    (ppp_df['NA'] == 44),
    (ppp_df['NA'] == 45),
    (ppp_df['NA'] == 48),
    (ppp_df['NA'] == 49),
    (ppp_df['NA'] == 51),
    (ppp_df['NA'] == 52),
    (ppp_df['NA'] == 53),
    (ppp_df['NA'] == 54),
    (ppp_df['NA'] == 55),
    (ppp_df['NA'] == 56),
    (ppp_df['NA'] == 61),
    (ppp_df['NA'] == 62),
    (ppp_df['NA'] == 71),
    (ppp_df['NA'] == 72),
    (ppp_df['NA'] == 81),
    (ppp_df['NA'] == 92),
]

values = ['Agriculture, Forestry, Fishing and Hunting', 'Mining', 
          'Utilities', 'Construction', 'Manufacturing', 'Manufacturing', 
         'Manufacturing', 'Wholesale Trade', 'Retail Trade', 'Retail Trade',
         'Transportation and Warehousing', 'Transportation and Warehousing',
         'Information', 'Finance and Insurance', 'Real Estate Rental and Leasing',
         'Professional, Scientific, and Technical Services', 'Management of Companies and Enterprises',
         'Administrative and Support and Waste Management and Remediation Services',
         'Educational Services', 'Health Care and Social Assistance', 'Arts, Entertainement, and Recreation',
         'Accomodation and Food Services', 'Other Services (except Public Administration)',
         'Public Administration']

ppp_df['Industry'] = np.select(conditions, values)

ppp_df.head()

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,Description,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsRetained,DateApproved,Lender,CD,NA,ICSCode,Industry
0,a $5-10 million,1186 BROADWAY RESTAURANT LLC,30 W 26th Street Floor 12,NEW YORK,NY,10010,721110,Hotels (except Casino Hotels) and Motels,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,417.0,4/15/20 0:00,BMO Harris Bank National Association,NY - 12,72,1110,Accomodation and Food Services
1,a $5-10 million,"246 SPRING STREET (NY), LLC",246 SPRING ST,NEW YORK,NY,10013,721110,Hotels (except Casino Hotels) and Motels,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,328.0,4/28/20 0:00,City National Bank,NY - 07,72,1110,Accomodation and Food Services
2,a $5-10 million,ABRAHAM JOSHUA HESCHEL SCHOOL,20 West End Ave,NEW YORK,NY,10023,611110,Elementary and Secondary Schools,Non-Profit Organization,Unanswered,Unanswered,Unanswered,Y,365.0,5/3/20 0:00,"Bank of America, National Association",NY - 10,61,1110,Educational Services
3,a $5-10 million,"ACCESS STAFFING, LLC",360 Lexington Ave 8th Floor,NEW YORK,NY,10017,561311,Employment Placement Agencies,Limited Liability Company(LLC),Unanswered,Male Owned,Non-Veteran,NaN,500.0,4/11/20 0:00,"Newtek Small Business Finance, Inc.",NY - 12,56,1311,Administrative and Support and Waste Managemen...
4,a $5-10 million,"ACCUITY DELIVERY SYSTEMS, LLC",810 7TH AVE Suite 1110,NEW YORK,NY,10019,541511,Custom Computer Programming Services,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,293.0,4/8/20 0:00,CIBC Bank USA,NY - 10,54,1511,"Professional, Scientific, and Technical Services"

In [5]:
#columns re-ordered and cleaned
ppp_df = ppp_df [["LoanRange", "BusinessName", "Address", "City", "State",
                 "Zip", "NAICSCode", "NA", "Industry", "Description", "BusinessType", "JobsRetained",
                 "Lender", "CD"]]
ppp_df.head()

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,NA,Industry,Description,BusinessType,JobsRetained,Lender,CD
0,a $5-10 million,1186 BROADWAY RESTAURANT LLC,30 W 26th Street Floor 12,NEW YORK,NY,10010,721110,72,Accomodation and Food Services,Hotels (except Casino Hotels) and Motels,Limited Liability Company(LLC),417.0,BMO Harris Bank National Association,NY - 12
1,a $5-10 million,"246 SPRING STREET (NY), LLC",246 SPRING ST,NEW YORK,NY,10013,721110,72,Accomodation and Food Services,Hotels (except Casino Hotels) and Motels,Limited Liability Company(LLC),328.0,City National Bank,NY - 07
2,a $5-10 million,ABRAHAM JOSHUA HESCHEL SCHOOL,20 West End Ave,NEW YORK,NY,10023,611110,61,Educational Services,Elementary and Secondary Schools,Non-Profit Organization,365.0,"Bank of America, National Association",NY - 10
3,a $5-10 million,"ACCESS STAFFING, LLC",360 Lexington Ave 8th Floor,NEW YORK,NY,10017,561311,56,Administrative and Support and Waste Managemen...,Employment Placement Agencies,Limited Liability Company(LLC),500.0,"Newtek Small Business Finance, Inc.",NY - 12
4,a $5-10 million,"ACCUITY DELIVERY SYSTEMS, LLC",810 7TH AVE Suite 1110,NEW YORK,NY,10019,541511,54,"Professional, Scientific, and Technical Services",Custom Computer Programming Services,Limited Liability Company(LLC),293.0,CIBC Bank USA,NY - 10

In [6]:
ppp_df.to_csv("data/output/nycppprecipients_ind.csv", index=True)

In [7]:
#range count all industry
ind_range = ppp_df["LoanRange"].value_counts()
ind_range

e $150,000-350,000      9225
d $350,000-1 million    5514
c $1-2 million          1710
b $2-5 million           875
a $5-10 million          226
Name: LoanRange, dtype: int64

In [8]:
#range count per industry
ind_group = ppp_df.groupby(["Industry"])
rng_count = ind_group["LoanRange"].value_counts()
print(rng_count)

Industry                        LoanRange
Accomodation and Food Services  e $150,000-350,000      1247
                                d $350,000-1 million     690
                                c $1-2 million           182
                                b $2-5 million            87
                                a $5-10 million           19
                                                        ...
Wholesale Trade                 e $150,000-350,000       618
                                d $350,000-1 million     384
                                c $1-2 million           121
                                b $2-5 million            40
                                a $5-10 million            5
Name: LoanRange, Length: 93, dtype: int64

In [9]:
#for sum of jobs, count of loans based on loan range per industry 
jobsByRange_df = ppp_df.groupby(["Industry", "LoanRange"]).agg(CountLoanRange=('LoanRange', 'count'),SumJobsRetained=('JobsRetained', 'sum'))
jobsByRange_df

                                                     CountLoanRange  \
Industry                       LoanRange
Accomodation and Food Services a $5-10 million                   19
                               b $2-5 million                    87
                               c $1-2 million                   182
                               d $350,000-1 million             690
                               e $150,000-350,000              1247
...                                                             ...
Wholesale Trade                a $5-10 million                    5
                               b $2-5 million                    40
                               c $1-2 million                   121
                               d $350,000-1 million             384
                               e $150,000-350,000               618

                                                     SumJobsRetained
Industry                       LoanRange
Accomodation and Food Services a $5-10 million                6230.0
                               b $2-5 million                14612.0
                               c $1-2 million                18271.0
                               d $350,000-1 million          32754.0
                               e $150,000-350,000            32019.0
...                                                              ...
Wholesale Trade                a $5-10 million                1694.0
                               b $2-5 million                 5184.0
                               c $1-2 million                 8952.0
                               d $350,000-1 million          12485.0
                               e $150,000-350,000             9126.0

[93 rows x 2 columns]

In [10]:
#adding columns for percent of loans and percent of jobs per industry
#calculation total per industry
f = lambda x: 100 * x /float(x.sum())
#new columns transformed with calculation
jobsByRange_df[['PercentLoan', 'PercentJobs']] = (jobsByRange_df.groupby(['Industry'])['CountLoanRange', 'SumJobsRetained'].transform(f))
jobsByRange_df

<ipython-input-10-55fee178e9a0>:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  jobsByRange_df[['PercentLoan', 'PercentJobs']] = (jobsByRange_df.groupby(['Industry'])['CountLoanRange', 'SumJobsRetained'].transform(f))

                                                     CountLoanRange  \
Industry                       LoanRange
Accomodation and Food Services a $5-10 million                   19
                               b $2-5 million                    87
                               c $1-2 million                   182
                               d $350,000-1 million             690
                               e $150,000-350,000              1247
...                                                             ...
Wholesale Trade                a $5-10 million                    5
                               b $2-5 million                    40
                               c $1-2 million                   121
                               d $350,000-1 million             384
                               e $150,000-350,000               618

                                                     SumJobsRetained  \
Industry                       LoanRange
Accomodation and Food Services a $5-10 million                6230.0
                               b $2-5 million                14612.0
                               c $1-2 million                18271.0
                               d $350,000-1 million          32754.0
                               e $150,000-350,000            32019.0
...                                                              ...
Wholesale Trade                a $5-10 million                1694.0
                               b $2-5 million                 5184.0
                               c $1-2 million                 8952.0
                               d $350,000-1 million          12485.0
                               e $150,000-350,000             9126.0

                                                     PercentLoan  PercentJobs
Industry                       LoanRange
Accomodation and Food Services a $5-10 million          0.853933     5.996958
                               b $2-5 million           3.910112    14.065418
                               c $1-2 million           8.179775    17.587548
                               d $350,000-1 million    31.011236    31.528791
                               e $150,000-350,000      56.044944    30.821285
...                                                          ...          ...
Wholesale Trade                a $5-10 million          0.428082     4.524452
                               b $2-5 million           3.424658    13.845784
                               c $1-2 million          10.359589    23.909618
                               d $350,000-1 million    32.876712    33.345797
                               e $150,000-350,000      52.910959    24.374349

[93 rows x 4 columns]

In [11]:
#total loans, total jobs per industry
ind_jobs_df = ppp_df.groupby(["Industry"]).agg(CountLoan=('LoanRange', 'count'),SumJobsRetained=('JobsRetained', 'sum'))
ind_jobs_df

                                                    CountLoan  SumJobsRetained
Industry
Accomodation and Food Services                           2225         103886.0
Administrative and Support and Waste Management...        847          50926.0
Agriculture, Forestry, Fishing and Hunting                 35            716.0
Arts, Entertainement, and Recreation                      505          26511.0
Construction                                             1191          40706.0
Educational Services                                      696          51538.0
Finance and Insurance                                     499          13596.0
Health Care and Social Assistance                        1810         127680.0
Information                                               748          27249.0
Management of Companies and Enterprises                    59           2290.0
Manufacturing                                             790          30911.0
Mining                                                      8             83.0
Other Services (except Public Administration)            1166          58144.0
Professional, Scientific, and Technical Services         3462         112924.0
Public Administration                                      59           2503.0
Real Estate Rental and Leasing                            771          17563.0
Retail Trade                                             1207          47408.0
Transportation and Warehousing                            284          14056.0
Utilities                                                  20            743.0
Wholesale Trade                                          1168          37441.0

In [18]:
# total loans, total jobs, percent loan, percent jobs per industry
ind_jobs_df['PercentLoan'] = 100 * ind_jobs_df['CountLoan']/ind_jobs_df['CountLoan'].sum()
ind_jobs_df['PercentJobs'] = 100 * ind_jobs_df['SumJobsRetained']/ind_jobs_df['SumJobsRetained'].sum()
ind_jobs_df

,CountLoan,SumJobsRetained,PercentLoan,PercentJobs
Industry,,,,
Accomodation and Food Services,2225,103886.0,12.678063,13.546684
Administrative and Support and Waste Management and Remediation Services,847,50926.0,4.826211,6.640726
"Agriculture, Forestry, Fishing and Hunting",35,716.0,0.199430,0.093366
"Arts, Entertainement, and Recreation",505,26511.0,2.877493,3.457022
Construction,1191,40706.0,6.786325,5.308043
Educational Services,696,51538.0,3.965812,6.720530
Finance and Insurance,499,13596.0,2.843305,1.772912
Health Care and Social Assistance,1810,127680.0,10.313390,16.649410
Information,748,27249.0,4.262108,3.553256
Management of Companies and Enterprises,59,2290.0,0.336182,0.298615
Manufacturing,790,30911.0,4.501425,4.030780
Mining,8,83.0,0.045584,0.010823
Other Services (except Public Administration),1166,58144.0,6.643875,7.581950
"Professional, Scientific, and Technical Services",3462,112924.0,19.726496,14.725235
Public Administration,59,2503.0,0.336182,0.326390
Real Estate Rental and Leasing,771,17563.0,4.393162,2.290207
Retail Trade,1207,47408.0,6.877493,6.181980
Transportation and Warehousing,284,14056.0,1.618234,1.832896
Utilities,20,743.0,0.113960,0.096887
Wholesale Trade,1168,37441.0,6.655271,4.882288

In [13]:
#loan counts per industry
ind_count = ppp_df["Industry"].value_counts()
ind_count

Professional, Scientific, and Technical Services                            3462
Accomodation and Food Services                                              2225
Health Care and Social Assistance                                           1810
Retail Trade                                                                1207
Construction                                                                1191
Wholesale Trade                                                             1168
Other Services (except Public Administration)                               1166
Administrative and Support and Waste Management and Remediation Services     847
Manufacturing                                                                790
Real Estate Rental and Leasing                                               771
Information                                                                  748
Educational Services                                                         696
Arts, Entertainement, and Recreation                                         505
Finance and Insurance                                                        499
Transportation and Warehousing                                               284
Management of Companies and Enterprises                                       59
Public Administration                                                         59
Agriculture, Forestry, Fishing and Hunting                                    35
Utilities                                                                     20
Mining                                                                         8
Name: Industry, dtype: int64

In [14]:
#job counts per industry
ppp_df_ind = ppp_df.groupby(["Industry"])
ppp_df_job_sum = ppp_df_ind["JobsRetained"].sum() 
ppp_df_job_sum

Industry
Accomodation and Food Services                                              103886.0
Administrative and Support and Waste Management and Remediation Services     50926.0
Agriculture, Forestry, Fishing and Hunting                                     716.0
Arts, Entertainement, and Recreation                                         26511.0
Construction                                                                 40706.0
Educational Services                                                         51538.0
Finance and Insurance                                                        13596.0
Health Care and Social Assistance                                           127680.0
Information                                                                  27249.0
Management of Companies and Enterprises                                       2290.0
Manufacturing                                                                30911.0
Mining                                                                          83.0
Other Services (except Public Administration)                                58144.0
Professional, Scientific, and Technical Services                            112924.0
Public Administration                                                         2503.0
Real Estate Rental and Leasing                                               17563.0
Retail Trade                                                                 47408.0
Transportation and Warehousing                                               14056.0
Utilities                                                                      743.0
Wholesale Trade                                                              37441.0
Name: JobsRetained, dtype: float64

In [15]:
#job average per loan for each industry
ppp_df_ind = ppp_df.groupby(["Industry"])
ppp_ind_job_avg = ppp_df_ind["JobsRetained"].mean() 
ppp_ind_job_avg

Industry
Accomodation and Food Services                                              49.095463
Administrative and Support and Waste Management and Remediation Services    62.562654
Agriculture, Forestry, Fishing and Hunting                                  20.457143
Arts, Entertainement, and Recreation                                        54.661856
Construction                                                                35.489102
Educational Services                                                        76.352593
Finance and Insurance                                                       28.503145
Health Care and Social Assistance                                           72.380952
Information                                                                 37.276334
Management of Companies and Enterprises                                     38.813559
Manufacturing                                                               41.214667
Mining                                                                      11.857143
Other Services (except Public Administration)                               51.821747
Professional, Scientific, and Technical Services                            33.488731
Public Administration                                                       43.912281
Real Estate Rental and Leasing                                              23.511379
Retail Trade                                                                40.693562
Transportation and Warehousing                                              51.487179
Utilities                                                                   37.150000
Wholesale Trade                                                             33.669964
Name: JobsRetained, dtype: float64